@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .navbar .nav_item {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .flex_container {
    flex-direction: column;
    align-items: center;
  }

  .logo_wrapper {
    margin-bottom: 20px;
  }

  .navbar {
    justify-content: center;
  }
  .nav_items_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .navbar.active .nav_item {
    display: block;
  }

  .rounded_card {
    max-width: 100%;
  }

  .navbar {
    max-width: 100%;
    margin: auto;
  }
  .profile_image {
    max-width: 80%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

  html,
  body {
    padding: 5px;
  }

  .flex_container {
    margin: 5px;
  }

  .contact_image {
    margin-bottom: 20px;
  }

  #contactus {
    width: auto;
  }
  .certificate-section {
    height: 300px;
    width: 300px;
  }

  .slider {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 300px;
    display: flex;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 20%;
    transition: 2s;
  }

  .slide img {
    width: 300px;
    height: 300px;
  }

  /*css for manual slide navigator*/
  .navigation-manual {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn {
    border: 2px solid var(--primary);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 10px;
  }

  .manual-btn:hover {
    background: var(--primary);
  }


  /*css for automatic navigator*/
  .navigation-auto {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin-top: 260px;
  }
  .navigation-auto div {
    border: 2px solid var(--primary);
    padding: 7px;
    border-radius: 10px;
    transition: 1s;
  }

  .navigation-auto div:not(:last-child) {
    margin-right: 10px;
  }

  .footer {
    width: auto;
  }

  .social_media_icons {
    margin-top: 20px;
    text-align: center;
  }

  .social_media_icons a {
    margin: 0 8px;
    display: inline-block;
    width: 36px;
    height: 36px;
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    transition: 0.3s ease;
  }

  .social_media_icons a:hover {
    background-color: #fff;
    color: var(--primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
